

    body {
        font-family: 'Sarabun', sans-serif;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        max-width: 1140px;
        margin: 0 auto;
    }

    nav {
        padding: 1rem;
        background-color: rgba(0,0,0,0.9);
    
    }
    .nav-con {
        display: flex;
        justify-content: space-between;
    }

    .logo a {
        font-size:  2rem;
        color: #ffff;
        text-decoration: none;
    
    }
    .menu {
        display: flex;
        align-items: center;
    }
    .menu li {
        margin: 0 1rem;
    }
    .menu li a {
        color: #ffff;
        text-decoration: none;

    }


    /* Hero */
    .hero {
        background-color: #f0f0f0;
    }

    .hero-con {
        display: flex;
    
    }

    .hero-info {
        width: 100%;
        padding: 2rem;
    }
    .hero-info h3 {
        font-size: 2rem;
    }
    .hero-info p {
        margin: 1rem 0;
    }

    .hero-info .hero-btn {
        display: inline-block;
        background-color: orange;
        color: #ffff ;
        padding: 1rem;
        border-radius: 5px;
        text-decoration: none;
    }

    .hero-img  img {
        width: 100%;
        padding: 2rem;
    }
    .menu-toggle {
        font-size: 24px;
        display: none;
        cursor: pointer;
    }
    .ul.menu li {
    list-style: none;
    display: flex;
    gap: 25px;
    }

    .ul.menu li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
    }


    /* Responsive */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    cursor: pointer;
  }

  .menu li {
    display: none;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: 25px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    z-index: 100;

  }
  .menu li a {
        color: #0a0a0a;
        text-decoration: none;

    }

  .menu li.active {
    display: flex;
  }

  .hero-con {
    flex-direction: column;
    text-align: center;
  }
}


